<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result is Pending ...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='alphabetical_search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='numbered_paging.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <main class="govuk-main-wrapper " id="main-content" role="main">



        <div class="govuk-width-container">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l">Your query is submitted and is now pending and will be processed
                        soon...<br>Please keep this tab open to see the results soon after it is processed from our queue.
                        This page will refresh every 30 seconds automatically.
                    </h1>

                </div>
            </div>

        </div>
    </main>
    <script>
        setInterval(function () {
            window.location.href = window.location.href;
        }, 30000);
    </script>
</body>

</html>