<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='alphabetical_search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='numbered_paging.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <main class="govuk-main-wrapper " id="main-content" role="main">



        <div class="govuk-width-container">

            <div class="govuk-grid-row">

                <div class="">
                    <div>
                        <h3><a href="/" style="text-decoration: none;">Home</a></h3>
                    </div>
                    <h1 class="govuk-heading-l">Search Results</h1>
                    {%if days_ago == 0 %}
                    <h2>Last updated: Today <button style="text-decoration: none; background-color: #00703c; color:#ffffff; padding: 7px;" class="govuk-link" onclick="location.href='/update/{{record_id}}'">Update now</button></h2>
                    {%else%}
                    <h2>Last updated: {{days_ago}} day(s) ago <button style="text-decoration: none; background-color: #00703c; color:#ffffff; padding: 7px;" class="govuk-link" onclick="location.href='/update/{{record_id}}'">Update now</button></h2>
                    {%endif%}
                    <div class="" style="padding-top: 45px;">

                        <div>
                            <div>

                                <div class="govuk-grid-column-one-thirds">


                                    <div class="one-half-div">
                                        <p class="govuk-heading-m">{{results_count}} results</p>
                                    </div>

                                    <div class="govuk-button-group download-button">
                                        <span onclick="location.href='/download-excel/{{record_id}}'"
                                            class="govuk-button" data-module="govuk-button"
                                            data-event-id="advanced-search-results-page-download-results">
                                            Download results
                                        </span>
                                    </div>
                                    <div class="flex-end one-half-div-right">
                                        <span class="govuk-body-s download-text">Results are downloaded as a XLSX
                                            file.</span>
                                    </div>
                                </div>

                                <div style="margin-top: 20px;">
                                    <div class="search-meta" id="search-meta">
                                        <ul class="pager" id="pager">
                                            {%if current_page == 1%}
                                            <li>
                                                <span class="active">
                                                    Prev
                                                </span>
                                            </li>
                                            {%else%}
                                            <li>
                                                <a class="govuk-link" id="prev-page" href="{{prev_page}}">
                                                    Prev
                                                </a>
                                            </li>
                                            {%endif%}
                                            <li>
                                                <span class="active">{{current_page}} / {{max_pages}}</span>
                                            </li>
                                            {%if current_page == max_pages%}
                                            <li>
                                                <span class="active">
                                                    Next
                                                </span>
                                            </li>
                                            {%else%}
                                            <li>
                                                <a class="govuk-link" id="next-page" href="{{next_page}}">
                                                    Next
                                                </a>
                                            </li>
                                            {%endif%}
                                        </ul>

                                    </div>
                                    <div>
                                        <input type="number" id="jump_to_page" min="1" max="{{max_pages}}" name=""
                                            id=""> <button style="background-color: #00703c; color: #ffffff;"
                                            onclick="jumpToPage()">Jump To Page</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div>

                            <hr
                                class="govuk-section-break govuk-section-break--m govuk-section-break--visible hr-margin hr-margin-mobile">
                            <table class="govuk-table govuk-!-font-size-16">


                                <tbody class="govuk-table__body">

                                    {% for record in records %}
                                    <tr class="govuk-table__row">



                                        <td class="govuk-table__cell">
                                            <h2 class="govuk-heading-m" style="margin-bottom: 3px;"><a
                                                    class="govuk-link"
                                                    href="https://find-and-update.company-information.service.gov.uk{{record.get('links')}}"
                                                    target="_blank">{{record.get('company_name')}}<span
                                                        class="govuk-visually-hidden">(link opens a new
                                                        window)</span></a></h2>
                                            <p style="margin-top:0px;">
                                                <span
                                                    class="govuk-body govuk-!-font-weight-bold">{{record.get('company_status')}}</span>
                                            </p>
                                            <p>
                                            </p>
                                            <ul class="govuk-list govuk-!-font-size-16">
                                                <li>{{record.get('company_type')}}</li>
                                                <li></li>
                                                <li>{{record.get('company_number')}} - Incorporated on
                                                    {{record.get('date_of_creation')}}</li>
                                                <li></li>
                                                <li>{{record.get('registered_office_address')}}</li>
                                                <li>SIC codes - {{record.get('sic_codes')}}</li>
                                                <li>
                                                    <b>Current Officers</b><br>
                                                    {%if record.get('officers_data')%}
                                                    {%for officer in record.get('officers_data')%}
                                                    <ul>
                                                        <li><i>{{officer.get('name')}}</i></li>
                                                        <li style="list-style: none;">{{officer.get('address')}}</li>
                                                    </ul>
                                                    {%endfor%}
                                                    {%else%}
                                                    <ul>
                                                        <li>No officers available</li>
                                                    </ul>
                                                    {%endif%}
                                                </li>
                                            </ul>
                                        </td>


                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>




                        </div>


                        <div>
                            <div>


                                <div class="govuk-grid-column-one-thirds">
                                    <div>
                                        <div class="search-meta" id="search-meta">
                                            <ul class="pager" id="pager">
                                                {%if current_page == 1%}
                                                <li>
                                                    <span class="active">
                                                        Prev
                                                    </span>
                                                </li>
                                                {%else%}
                                                <li>
                                                    <a class="govuk-link" id="prev-page" href="{{prev_page}}">
                                                        Prev
                                                    </a>
                                                </li>
                                                {%endif%}
                                                <li>
                                                    <span class="active">{{current_page}} / {{max_pages}}</span>
                                                </li>
                                                {%if current_page == max_pages%}
                                                <li>
                                                    <span class="active">
                                                        Next
                                                    </span>
                                                </li>
                                                {%else%}
                                                <li>
                                                    <a class="govuk-link" id="next-page" href="{{next_page}}">
                                                        Next
                                                    </a>
                                                </li>
                                                {%endif%}
                                            </ul>
                                        </div>
                                        <div style="margin-bottom: 30px;">
                                            <input type="number" id="jump_to_page_bottom" min="1" max="{{max_pages}}"
                                                name="" id=""> <button
                                                style="background-color: #00703c; color: #ffffff;"
                                                onclick="jumpToPageBottom()">Jump To Page</button>
                                        </div>
                                    </div>
                                    <div class="one-half-div">
                                        <p class="govuk-heading-m">{{results_count}} results</p>
                                    </div>

                                    <div class="govuk-button-group download-button">
                                        <span onclick="location.href='/download-excel/{{record_id}}'"
                                            class="govuk-button" data-module="govuk-button"
                                            data-event-id="advanced-search-results-page-download-results">
                                            Download results
                                        </span>
                                    </div>
                                    <div class="flex-end one-half-div-right">
                                        <span class="govuk-body-s download-text">Results are downloaded as a XLSX file.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>



                </div>
            </div>

        </div>
    </main>
    <script>
        function jumpToPage() {
            var page_target = document.getElementById('jump_to_page').value;
            if (page_target == ''){
                return false;
            }
            window.location.href = '/records/{{record_id}}/' + page_target;
        }
        function jumpToPageBottom() {
            var page_target = document.getElementById('jump_to_page_bottom').value;
            if (page_target == ''){
                return false;
            }
            window.location.href = '/records/{{record_id}}/' + page_target;
        }
    </script>
</body>

</html>